name: Docker Build and Push

on:
  workflow_call:
    inputs:
      version:
        description: 'SemVer tag (e.g., 1.2.3)'
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build-and-push:
    # run only if a new version is detected
    if: ${{ inputs.version != '' && inputs.version != '0.0.0' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Java project with Maven
        run: mvn clean install --no-transfer-progress

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            woped/${{ github.event.repository.name }}:${{ inputs.version }}
            woped/${{ github.event.repository.name }}:latest
